<div id="container">
    <mat-card
        class="shirt-card glass"
        *ngFor="let shirt of shirts"
        style="display: inline-block; width: 400px; margin: 5px"
    >
        <mat-card-header>
            <mat-card-title>Shirt #{{ shirt.id }}</mat-card-title>
            <mat-card-subtitle>v{{ shirt.version }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card *ngFor="let qr of shirt.qrs" class="glass">
                <mat-card-header>
                    <mat-card-title>QR {{ qr.code }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Link</mat-label>
                            <input
                                [id]="'link-' + shirt.id + '-' + qr.code"
                                matInput
                                placeholder="Your link here"
                                [value]="qr.link"
                                [readonly]="!mapEdits[shirt.id][qr.code]"
                            />
                            <mat-icon
                                matSuffix
                                *ngIf="!mapEdits[shirt.id][qr.code]"
                                class="clickable"
                                (click)="edit(shirt.id, qr.code)"
                                >edit</mat-icon
                            >
                            <mat-icon
                                matSuffix
                                *ngIf="mapEdits[shirt.id][qr.code]"
                                class="clickable"
                                (click)="cancel(shirt.id, qr.code, qr.link)"
                                >cancel</mat-icon
                            >
                            <mat-icon
                                matSuffix
                                *ngIf="mapEdits[shirt.id][qr.code]"
                                class="clickable"
                                (click)="save(shirt.id, qr.code)"
                                >save</mat-icon
                            >
                            <mat-icon
                                matSuffix
                                *ngIf="!mapEdits[shirt.id][qr.code]"
                                class="clickable"
                                (click)="test(qr.link)"
                                >open_in_new</mat-icon
                            >
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>
