.shirt-card 
  max-width: 400px
  float: left

.example-form 
  min-width: 150px
  max-width: 500px
  width: 100%

.example-full-width 
  width: 100%

#container
  padding: 20px
  background-image: url(~src/assets/img/bg/13.-Pale-Violet-Red_1.jpg)
  background-size: cover
  height: 100%

.clickable
  cursor: pointer

.big-icon
  font-size: 48px

mat-card-subtitle, mat-label
  color: darkblue

.glass
  color: darkblue
  margin: 10px
  background: rgba( 255, 255, 255, 0.10 )
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
  backdrop-filter: blur( 4px )
  -webkit-backdrop-filter: blur( 4px )
  border-radius: 10px
  border: 1px solid rgba( 255, 255, 255, 0.18 )


.glass-button
  background: rgba( 255, 255, 255, 0.25 )
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
  backdrop-filter: blur( 4px )
  -webkit-backdrop-filter: blur( 4px )
  border-radius: 10px
  border: 1px solid rgba( 255, 255, 255, 0.18 )